<div class="flex">
    <div class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden">
    </div>
    <div class="fixed z-30 inset-y-0 left-0 w-64 transition duration-300 transform bg-gray-900 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0">
        <div class="flex items-center justify-center mt-8">
            <div class="flex items-center">
                <span class="text-white text-2xl mx-2 font-semibold">Admin</span>
            </div>
        </div>
        <nav class="mt-10">
            {{- range .}}
            <a href="/admin/{{ .Name }}?current=1&size=10" class="flex items-center duration-200 mt-4 py-2 px-6 border-l-4 border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
                <span class="mx-4">{{.Alias}}</span>
            </a>
            {{- end}}
        </nav>
    </div>
</div>
